:root{
    /* Color styles */
--c92-dark-gray: #2C3E50;
--c92-aqua: #1ABC9C;
--c92-white: #FFFFFF;
--c92-light-gray: #3A546D;
--c92-black: #333333;

}
.debug{
    border: 1px solid green;
    background-color: red;
}
.c92-hero{
    width: 100%;
}
.c92-hero img{
    width: 30%;
}
.c92-img{
    width: 100%;
}
.c92-img img{
    width: 100%;
    border-radius: 10px;

}
.c92-line{
    width: 20px;
    height: 20px;
    background-color: var(--c92-white);
}
header{
    background-color: var(--c92-dark-gray);
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
}
main{
    margin-top:70px;
}
#hero, #about{
    background-color: var(--c92-aqua);
    color: var(--c92-white);
}
footer{
    background-color: var(--c92-dark-gray);
}
.c92-bot-footer{
    padding: 20px 0;
    background-color: var(--c92-light-gray);
}
